.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.fonttttttt {
  white-space: normal !important;
  font-family: Arial !important;
  word-spacing: 4px !important;
}
.fontttttttdd {
  font-family:  sans-serif !important;
  white-space: normal !important;
  word-spacing: 1px !important;
  letter-spacing:normal !important;
}
.fontttttttd{
  white-space: normal !important;
  font-family: Arial !important;
}
body{
  overflow: hidden;
  font-family: "Poppins" !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.css-zn0ehl-DropDown{
  background-color: rgb(240, 248, 255) !important;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 
.kiy::-webkit-scrollbar {
  display: none;
}



.chartWrapper {
  position: relative;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events:none;
}

.chartAreaWrapper {
  width: 600px;
  overflow-x: scroll;
}


#scrrrrol::-webkit-scrollbar {
  width: 12px;
}

#scrrrrol::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

#scrrrrol::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.fdfvdsfvsdvsdzxcvsd {
  background-color : '#DADADA' !important;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


